body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background: darkgreen;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
}

#main {
  background-color: green;
  display: flex;
  height: 100vh;
}

#welcome {
  margin: 2px;
  height: 50px;
  width: 200px;
  padding: 5px;
}

#upgrade1, #upgrade2 {
  margin: 2px;
  height: 50px;
  width: 200px;
  padding: 5px;
  text-align: center;
}

.column {
  flex: 1;
  border: 7px solid green;
}

.container {
  height: 90px;
  border: 2px solid black;
  margin: 10px;
  text-align: center;
}

.left{
  text-align: center;
  background-color: dimgrey
}

.middle{
  background-color: gray
}

.right{
  background-color: lightgrey
}

#ClickerButton{

  font-size: 100px;
  margin-top: 20px;
  background-color: darkgreen;
}

#CounterDisplay {
  background-color: darkgreen;
  font-size: 100%;
}

section {
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #ddd;
  font-size: 0.9rem;
}

a {
  color: #4a90e2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}